body {
    background-image: url('/quiz/imgs/bakground.jpg');
    background-size: contain;
    background-position:  right;
    background-repeat: no-repeat;
    background-color:#000;   
    COLOR:#fff;
    overflow: hidden;
}
.corpo {
    width: 300px;
    text-align: center;
    margin-left: 7%;
    MARGIN-TOP: 21PX;
    animation-name: entrada;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 100px;
}

.caixa {
    background-color:#68050D;
    min-height: 485px;
    border-radius: 1%;
    border: 1px solid #720c05;
    text-align: left;
    margin-top: 20px;
}    
 .divTitulo{
    padding: 3%;
    background-color: #b4241a;  
    font-family:'Lato', sans-serif;
    font-size: 16px;
    padding: 13px 24px;
    background-color: #b4241a;
}
.fundocaixa{
    width: 100%;
    height: 130px;
}
.pergunta{
    text-align: baseline;
    padding: 2px 20px;
    font-family:'Lato', sans-serif;
    font-size: 16px;
}
.pergunta p{
    font-size: 15px;
    margin-top: 13px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    background: #b6150a;
    padding: 7px;
    border-radius: 3px;
}
.pergunta p:checked ~ .box{
    background-color: #272322bd;
}



.botoes{
     display:flex;
     justify-content: space-between;
     flex-direction: column;
     margin-top: 15px;
     display: flex;
     flex-direction: column;
     
}
button{
    margin: 5px 0;
    padding: 7px 19px 5px;
    background: #642a31;
    border: 0;
    border-radius: 2px;
    color: white;
    text-align: left;
    font-family: 'Lato', sans-serif;
}
.confirmar{
    width: 257px;
    margin-top: 25px;
    padding: 8px;
    background:#b3b3b3;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.mudei{
    background:green !important;
}

link:hover{
}
@keyframes entrada {
    from   {opacity: 0%; margin-left:-10px; margin-top:-20px;}
    to  {opacity: 100%; margin-left:7%; margin-top:21px;}
    }  


