body {
    background-image: url(/quiz/imgs/bakground.jpg);
    background-size: contain;
    background-position:  right;
    background-repeat: no-repeat;
    background-color:#000;   
    COLOR:#fff;
    overflow: hidden;
}
.logo {
    width: 100px;
}

.corpo {
    width: 300px;
    text-align: center;
    margin-left: 7%;
    MARGIN-TOP: 21PX;
    animation-name: entrada;
    animation-duration: 2s;
    
    
}
.caixa {
    background-color: #431B20;
    height: 250px;
    border-radius: 1%;
    border: 1px solid #b4241a;
    text-align: left;
    margin-top: 20px;
}
.div-titulo {
   background-color:#b4241a;
   padding: 10px 25px; 
}

.content {  
    padding: 10px 20px;
}
.content button
{
    width: 100%;
    margin: 10px 0;
    background-color: #2D46A0;
    padding: 11px;
    border: 2px solid #b4241a;
    color: white;
}

.nome {
    width: 96%;
    margin: 18px 0;
    height: 26px;
    background: transparent;
    border: 1px solid #b4241a;
    border-radius: 3%;
    padding: 5px;
    color: white;
    outline: 0;
}
p {
    
}
h1{
    font-weight: bold;
}
h2{
    margin:0 0 10px ;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 29px;
}
.jogar {
    outline: 0;
}

.jogar:hover{
    background:#202649 ;
    transition-duration: 1s;
}
.link p{
    margin-top:50px;
    background:  #642a31;
    border:1px solid  #642a31;
    padding: 10px 20px;
    font-size: 14px;
}
.link, link:visited{
    background: #642a31;
    text-decoration-line: none;
    color: white;
    font-weight: bold;
   
}
link:hover{

}
@keyframes entrada {
    from   {opacity: 0%; margin-left:-10px; margin-top:-20px;}
    to  {opacity: 100%; margin-left:7%; margin-top:21px;}
  }  


